body { 
  display: flex; 
  justify-content: center; 
  align-items: flex-start;  
  color: #666666; 
  background-image: url(assets/sky.png); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;  
  padding-top: 10px;
  overflow: none;
}

#wrapper {
  width: 80%;
  min-width: 900px;
  max-width: 2050px;
  background-color: #FFFFFF;
  margin: 0 auto;
  box-shadow: 4px 4px #133926;
} header { background-color: #00B386; color: #FFFFFF; top: 0; height: 60px; text-align: center; padding-top: 15px; display: flex; align-items: center; justify-content: center; background-image: url(assets/pasture.png); background-repeat: no-repeat; background-position: right; line-height: 400%; text-indent: 1em; } h1 { margin-bottom: 0; font-family: Georgia, 'Times New Roman', Times, serif; } nav { background-color: white; padding: 10px; text-align: center; display: flex; align-items: center; justify-content: center; font-weight: bold; } nav a { text-decoration: none; } h2 { color: #00664D; text-shadow: 1px 1px #133926; font-family: Georgia, 'Times New Roman', Times, serif; } h3 { font-family: Georgia, 'Times New Roman', Times, serif; } dt { color: #00664D; } .barn { color: #70DBDB; font-weight: bold; } #homeImage { background-image: url(assets/sunsetHorse.png); height: 300px; background-repeat: no-repeat; background-size: 100% 100%; } #boardImage { background-image: url(assets/fenceline.png); height: 300px; background-repeat: no-repeat; background-size: 100% 100%; } #trainingImage { background-image: url(assets/BayBella.png); height: 300px; background-repeat: no-repeat; background-size: 100% 100%; }  main { padding-top: 1px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; display: block; } footer { padding: 15px; text-align: center; font-size: 75%; font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif; } #listy { list-style-image: url('assets/marker.gif'); } #contact { font-size: 90%; }





